/* Fonts */
@font-face {
  font-family: 'Kollektif';
  src: url(/_next/static/chunks/fonts/Kollektif-4d49be6e42d18464b230d87d1fab175a.ttf);
}

@font-face {
  font-family: 'Kollektif';
  src: url(/_next/static/chunks/fonts/Kollektif-Bold-04c38a99d8afcbb092591a7a88a39a88.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Kollektif';
  src: url(/_next/static/chunks/fonts/Kollektif-Italic-a28604a01636f3a9249559626bc6e5ab.ttf);
  font-style: italic;
}

@font-face {
  font-family: 'Kollektif';
  src: url(/_next/static/chunks/fonts/Kollektif-BoldItalic-6763df240291636923f89e208ef12b5e.ttf);
  font-weight: bold;
  font-style: italic;
}

/* CSS for Navbar */
.navbar-wrapper {
  z-index: 9999;
  display: flex;
  top: 0;
  transition: 0.5s ease-in-out;
  color: green;
  padding-bottom: 10px;
  flex-direction: row;
  justify-content: center;
}

.header-crest {
  float: left;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  font-size: 1.7em;
}

/* .header-crest p {
  margin: 13px 0 10px 10px;
  color: #87799C;
} */

.header-logo:hover {
  cursor: pointer;
}

.navbar-category {
  float: left;
}  


/* .navbar-category:nth-of-type(4) {
  padding-right: 40px;
} */

.navbar-dropdown-opener {
  border: none;
  cursor: pointer;
  font-display: swap;
  font-family: 'Kollektif';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  vertical-align: text-bottom;
}

.navbar-dropdown-absolute {
  border: none;
  font-family: 'Kollektif';
  font-style: normal;
  font-size: 14px;
  color: inherit;
  background-color: inherit;
  bottom: 0;
}

.navbar-category:hover .navbar-dropdown-opener {
  color: #87799c;
}

.navbar-dropdown-opener:focus {
  outline: none;
}

.dropdown-subheaders {
  display: block;
  position: absolute;
  max-height: 0;
  max-width: 168px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  color: #dcdfe5;
}

.dropdown-subheaders a {
  display: block;
  padding: 10px 10px 10px 10px;
  background-color: #515768;
  transition: 0.2s ease-in-out;
  color: #dcdfe5;
  text-decoration: none;
}

.dropdown-subheaders a:hover {
  color: #87799c;
}

.navbar-category:hover .dropdown-subheaders {
  max-height: 500px;
}

@media screen and (max-width: 860px) {
  .navbar-wrapper {
    display: none;
  }
}

body {
  margin: 0;
}

.footer {
  font-family: 'Open Sans', sans-serif;
  background: #114b0b;
  margin-top: 50px;
}

.footer-header {
  border: 0px;
  font-size: 16px;
  font-weight: 900;
}

.footer-info {
  font-size: 10px;
}

.media-icons {
  padding: 30px 0px 0px 75%;
}

.title-container {
  padding: 40px 0px;
  margin: 0px;
  text-align: center;
}

.title {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  color: #114b0b;
  font-size: 52px;
  padding-bottom: 20px;
  margin: 0px;
}

.subtitle {
  margin: 0px;
  padding: 0px;
  color: #646464;
  font-size: 25px;
}


.SupplyList {

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
}

.Subcategory {
    /* border-radius: 5px;
    border-bottom-width: 5px;  */
    line-height: 20px;
    background: #F3F3F3;
    border: #DADADA solid 0.5px;
    padding-left: 1em;
    font-size: 15px;

}

.hr {

    display: inside;
    height: 0px; 
    border: 0;
    border-top: 1px solid black; 
    margin: 0;
    padding: 0;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

/*# sourceMappingURL=styles.chunk.css.map*/