.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sublist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
