.TextImage {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.texttitle {
  font-size: 28px;
}

.textbody {
  font-size: 18px;
  line-height: 1.5;
}